canvas {
  width: 100%;
  height: auto;
}

.label {
	margin: 10 0px; 
}

.container {
	margin: 10 0px; 	
}

.display {
	text-align: center;	
}

.filestyle {
	position: absolute;
}

.centrado {
    text-align: center;
}